/* 마진 패딩 초기화 */
* { padding: 0; margin: 0; }
/* 페이지 기본 글꼴과 크기 설정 */
body { font-family: "돋움";   font-size: 14px; }
img { border: 0;}
ul { list-style-type: none; }
/* <a> 태그 기본 설정 */
a { display: inline-block; text-decoration: none; }
a:link { text-decoration:none; color: #222222; }
a:hover { text-decoration:none; color: #222222; }
a:visited { text-decoration:none; color: #222222; }
a:active { text-decoration:none; color: #222222; }
/* 상단 헤더 */
#top { position: relative; width: 1903px; height: 80px; margin: 0 auto; }
#top h3 { position: absolute; width:1903px; top: 25px; left: 800px; font-size: 16px; margin: 0 auto; }
#login { position: absolute; height: 48px; top: 100px; left: 40px; font-size: 16px; }
#top_menu { float: right; margin: 10px 60px 0 0;}
#top_menu li { display: inline; }
#menu_bar { height: 48px; background-color: #9e9888; font-size: 16px; }
#menu_bar ul { width: 1000px; margin: 0 auto; padding: 14px 0 0 40px; }
#menu_bar li { display: inline; margin-left: 120px; color: white; }
#menu_bar a:link { color: white; }
#menu_bar a:hover { color: white; }
#menu_bar a:visited { color: white; }
#menu_bar a:active { color: white; }
/* 메인 이미지 */
#main_img_bar { height: 350px; text-align: center; background-color: #544f4f; }
/* 하단 푸터 */오후 4:27 2020-11-27
footer { height: 100px; background-color: #2c2a29; }
#footer_content { position: relative; width: 1000px; margin: 0 auto; color: #000000; }
#footer_logo { position: absolute; top: 30px; left: 50px; font-size: 16px; }
#footer_logo span { color: black; }
#download { position: absolute; top: 20px; left: 400px; }
#author { position: absolute; top: 20px; left: 700px; }